/* Cabecalho.module.css */
.header {
    background-color: blueviolet;
    color: azure;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar {
    display: flex;
  }
  
  .navMenu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .navItem {
    margin-left: 20px;
  }
  
  .navLink {
    color: azure;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navLink:hover {
    color: yellow;
  }

.dropdown {
    position: relative;
  }
  
  .dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: green;
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .dropdown:hover .dropdownMenu {
    display: block;
  }
  