*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerLogin{
    height: 100vh;
    width: 100%;
    display: flex
}

.containerImage{
    background-image:url('https://s2-techtudo.glbimg.com/fogj7hTNVpgrmdx4uRKiw1oxMRQ=/1200x/smart/filters:cover():strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/7/i/ME2AxRRoygUyFPCDe0jQ/3.png') ;
    background-position: center;
    background-size: cover;
    border-top-right-radius: 64px;
    width: 50%;
    height:100% ;
}

.containerFormLogin{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 12%;
}

.headerTitle{
    width: 100%;
    margin-bottom: 40px;
}

.headerTitle h1{
    color: blueviolet;
    margin-bottom: 18px;
}

.headerTitle p{
    color: rgb(186, 186, 186);
}

.containerFormLogin form{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 54px;
}

.contentInput{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.contentInput input{
    border: none;
    outline: none;
    border:1px solid rgb(186, 186, 186);
    padding: 15px 10px;
    border-radius: 8px;
    color: rgb(88, 88, 88);
    font-size: 16px;
}

.contentInput label{
    color: rgb(88, 88, 88);
}

.containerFormLogin button{
    background-color: blueviolet;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    padding: 15px;
    width: 100%;
    transition: background-color 0.2s;
    margin-bottom: 24px;
}

.containerFormLogin button:hover{
    color: rgb(85, 25, 112);
 
}

.containerNav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.containerNav p{
    color: rgb(186, 186, 186);
}

#aText{
    text-decoration: none;
}